.Topbar{
    width: 101%;
    height: 50px;
    background-color: white;
    -webkit-box-shadow: 11px 13px 25px -10px rgba(0,0,0,0.19);
    -moz-box-shadow: 11px 13px 25px -10px rgba(0,0,0,0.19);
    box-shadow: 11px 13px 25px -10px rgba(0,0,0,0.19);
}
.topbarWrapper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topRight{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: black;
    
}
.logo{
    font-weight: bold;
    font-size: 30px;
    color: violet;
    cursor: pointer;
}